#tank-randomizer-UI {
  position: relative;
    top: -100px;
}

.randomizer-rows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.accessory-randomizer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 16px;
}

.paint-randomizer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.part-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.randomize-button {
  height: 20px;
  width: 100px;
}


.partSelectAccessory, .partSelectPaint {
  cursor: pointer;
  outline: none;
  width: 80px; /* adjust to fit next to text */
  border: 1px solid var(--jq-borderColorDefault);
  border-radius: 5px;
  background: #efefef;
  font-weight: 600;
  font-size: 11px;
  color: #555;
  padding: 3px;
  margin-right: 3px;
}

.partSelectAccessory:hover {
  color: #1a1a1a;
}
.partSelectPaint:hover {
  color: #1a1a1a;
}

.partTexts {
  font-family: TankTrouble;
  font-size: 12px;
  color: #e7c811;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  white-space: nowrap;
}